<p [ngStyle]="{backgroundColor:oncolor()}"
[ngClass]="{online: serverStatus=='online'}">My name is: {{name}} my Contact number is: {{getcontact()}}</p>








<!-- ********<label >Type</label>
<input type="text" class="form-control"
(input)="onEnter($event)">
<button class="btn btn-primary" (click)="onSave()">show</button>
<label >Type</label>
<input type="text" class="form-control"
[(ngModel)]="name">
<button class="btn btn-primary" (click)="onSave()">show</button>
{{name}}
{{out}} ************-->

<!-- <label>Type</label>
<input type="text" class="form-control" [(ngModel)]="Username">
<p>{{Username}}</p>
<button class="btn btn-primary"
 [disabled]="Username ==''" (click)="Username = ''">ADD</button> -->

 <!-- <label >Type</label>
<input type="text" class="form-control"
[(ngModel)]="name">
<button class="btn btn-primary" (click)="onSave()">show</button>
{{name}} -->