<div class="container">
    <div class="row">
        <div class="cpl-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <label>To add server</label>
                    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
                </div>
            </div>
         <hr>  
         <ul class="list-group">
            <li class="list-group-item">
  
                <p *ngFor="let server of servers; let i=index" 
                (click)="onRemoveServer(i)">{{server}}</p></li>
     
        </ul>
    </div>
        </div>
    </div>


    
