<!-- <label>Server</label>
<input type="text" class="form-control"
(input)="OnUpdateServerNames($event)">
<label>Server</label>
<input type="text" class="form-control"
 [(ngModel)]="servername">


{{servername}}
<button class="btn btn-primary" [disabled]="!allowserver"
(click)="onCreateServer()">Add server</button>

{{ServerCreationStatus}} -->
<app-serve></app-serve>
<app-serve></app-serve>


<!-- <label>Enter</label>
<input type="text" class="form-control" (input)="onTyped($event)">
{{servername}}
<button class="btn btn-primary" (click)="onshow()" >Show</button>
{{ServerCreation}} 
 <p *ngIf="Server; else noServer">{{ServerCreation}}</p>
<ng-template #noServer>
    <p>No Server created</p>
</ng-template>

<p *ngIf="Server">{{ServerCreation}}</p> -->